
WindowsFormsApplication10/.vs/MotionProfile Mapper/v15/.suo
WindowsFormsApplication10/.vs/MotionProfile Mapper/v15/Server/sqlite3/storage.ide
WindowsFormsApplication10/.vs/MotionProfile Mapper/v15/Server/sqlite3/storage.ide-shm
WindowsFormsApplication10/WindowsFormsApplication10/bin/Debug/WindowsFormsApplication10.exe
WindowsFormsApplication10/WindowsFormsApplication10/bin/Debug/WindowsFormsApplication10.pdb
WindowsFormsApplication10/.vs/MotionProfile Mapper/v15/Server/sqlite3/storage.ide-wal
*.exe
WindowsFormsApplication10/.vs/MotionProfile Mapper/v15/Server/sqlite3/db.lock
WindowsFormsApplication10/WindowsFormsApplication10/bin/Debug/WindowsFormsApplication10.exe
WindowsFormsApplication10/WindowsFormsApplication10/bin/Debug/WindowsFormsApplication10.pdb
WindowsFormsApplication10/WindowsFormsApplication10/obj/Debug/DesignTimeResolveAssemblyReferences.cache
WindowsFormsApplication10/WindowsFormsApplication10/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
WindowsFormsApplication10/WindowsFormsApplication10/obj/Debug/MP Mapper.csproj.CoreCompileInputs.cache
WindowsFormsApplication10/WindowsFormsApplication10/obj/Debug/MP Mapper.csproj.FileListAbsolute.txt
WindowsFormsApplication10/WindowsFormsApplication10/obj/Debug/MP Mapper.csproj.GenerateResource.Cache
WindowsFormsApplication10/WindowsFormsApplication10/obj/Debug/MP Mapper.csprojResolveAssemblyReference.cache
WindowsFormsApplication10/WindowsFormsApplication10/obj/Debug/WindowsFormsApplication10.exe
WindowsFormsApplication10/WindowsFormsApplication10/obj/Debug/WindowsFormsApplication10.pdb
*.exe
